@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
  color: white;
}

::-webkit-scrollbar-thumb {
  background: #555555;
  width: 7px;
  border-left: solid 5px black;
}

::-webkit-scrollbar {
  background: black;
  width: 10px;
}

* {
  font-family: 'JetBrains Mono', monospace;
}

html,
body {
  background: black;
  height: 100%;
  margin: 0;
  padding: 3px;
  box-sizing: border-box;
  overflow: hidden;
}

h1 {
  margin: 0px;
  text-align: center;
  margin-bottom: 10px;
}

input[type="text"] {
  outline: none;
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #313131;
  position: relative;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  border: none;
}

button:disabled {
  cursor: unset !important;
  filter: brightness(0.5);
}

.overlap {
  display: grid;
  width: 100%;
  justify-items: center;

  &>* {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.option {
  &>input {
    width: 100%;
    --value: 0%;
    outline: none;
    margin: 0;
  }

  &>input::-webkit-slider-runnable-track {
    background: linear-gradient(to right, white var(--value), #1a1a1a var(--value));
    height: 100%;
  }

  &>input::-webkit-slider-thumb {
    opacity: 0;
  }

  &>span {
    mix-blend-mode: difference;
    pointer-events: none;
  }
}

.base {
  height: 100%;
}

.flex-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flex-r {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sep-h {
  height: 1px;
  width: 100%;
  background-color: rgb(51, 51, 51);
  margin: 6px 0;
}

.sep-v {
  width: 1px;
  height: 100%;
  background-color: rgb(51, 51, 51);
  margin: 0 6px;
}

.justify {
  justify-content: center;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.grid>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webhooks {
  gap: 5px;
  height: 100%;
  width: 30%;
  max-width: 500px;
}

#webhook-input {
  width: 100%;
  margin-bottom: 10px;
}

#webhook-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  background-color: #303030;
  gap: 1px;

  &>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0;
    cursor: pointer;
    background-color: black;

    &.off{
      filter: brightness(0.3);
    }

    &.disabled{
      cursor: unset !important;
    }

    &>div{
      display: flex;
      flex-direction: column;

      &>span:last-child{
        color: gray;
        font-size: 0.8em;
      }
    }

    &>button{
      color: #d80000;
      cursor: pointer;
    }
  }
}

.err {
  border-color: #7e2029 !important;
  border-width: 2px !important;
}

.t-err {
  color: #d80000 !important;
}

#main-options {
  gap: 10px;
  padding: 0 20px;
  box-sizing: border-box;
}

.drop{
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

.dragover{
  background: rgba(255, 255, 255, 0.2);
}

.main-btns {
  justify-content: space-around;
}

.labels {
  text-wrap: nowrap;
}

#filename-label {
  text-wrap: nowrap;
  max-width: 20vw;
  text-overflow: ellipsis;
  overflow: hidden;
}

#upload-btn {
  background-color: #1b0083;
  color: white;
}

.file {
  display: flex;
  flex-direction: row;
}

#start-btn {
  background-color: #008602;
  color: white;
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#progress {
  overflow-y: auto;
}

#progress>div,
#progress-top>div {
  width: 100%;
  height: 1.2rem;
  background: linear-gradient(to right, white var(--progress), #1a1a1a var(--progress));
  display: flex;
  justify-content: space-between;
  transition: height 0.3s ease-out;

  &>span {
    mix-blend-mode: difference;
  }

  &>span:first-child {
    margin-left: 10px;
  }

  &>span:last-child {
    margin-right: 10px;
  }

  &.idle {
    background: #555555;
  }

  &.load {
    background: #1b0083;
  }

  &.err {
    background: #d80000;
  }
}

#progress-top {
  margin-bottom: 10px;
}